html,
body {
	margin: 0;
	padding: 0; 
}

body {
	font-family: "Cuprum", "PT sans", "Arial", sans serif;
	background-color: white;
	color: #f5f5f6; 		
}

.center {
	width: 1200px;
	margin: 0 auto;
}

.visually-hidden { 
  position: absolute; 
  margin: -1px; 
  padding: 0; 
  height: 1px; 
  width: 1px; 
  border: 0;
  overflow: hidden; 
  clip: rect(0 0 0 0); 
}

.header-top {
	box-sizing: border-box;
	width: 100%;
	background-color: #293449;
	padding: 0 130px;
	display: flex;
}

.customers-menu {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
}

.customers-menu p {
	margin: 0;
}

.logo-container {
	margin: 0;
	width: 220px;
	position: relative;
}

.logo {
	text-decoration: none;
	font-size: 24px;
	line-height: 24px;
	font-family: "Cuprum", sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	display: block;
	background-color: #ee3643;
	color: white;
	padding: 10px 55px 8px 55px; 
	border-bottom: 5px solid #b52933;
	position: absolute;
}


.bookmark-link,
.basket-link {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: white;
}

.search {
	width: 270px;
	display: flex;
}

.search-wrapper {
	display: flex;
	align-items: center;
}

.loup-icon {
	margin-left: 17px;
	margin-right: 17px;
}

.search-form-input-wrapper {
	margin: 0;
}


.search-form-input {
	border: none;
	background-color: inherit;
}


.search-form-input:focus .search {
	background-color: white;
}


.bookmark {
	width: 157px;
	display: flex;
}

.basket {
	width: 149px;
}

.button-buy {
	display: block;
	background-color: #63a63d;
	color: white;
	text-decoration: none;
	padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 12px;
  padding-top: 12px;
}

